




<app-header></app-header>
<!-- <div *ngIf="offerStatus" class="offerStatus">
  <marquee behavior="scroll" direction="left">
<div class="flex-text">
  <p class="dancing-text">Offer is live now</p>
  <p class="dancing-text">Offer is live now</p>
  <p class="dancing-text">Offer is live now</p>
</div>
</marquee>
</div> -->


<section class="bg-color">
  <div class="container">
    <div class="title">
      <h1>CONTINUE YOUR JOURNEY</h1>
      <p>Delve further into stories of <span>Inspiring Greatness.</span></p>
    </div>
    <div class="headline">
      Rolls-Royce Ghost Specifications
    </div>
    <div class="specification">
      <div class="left">
          <img [src]="ghostImg.ghostImg1">
      </div>
      <div class="right">
        <h3>Rolls-Royce Ghost</h3>
        <div class="rating" style="color:orange;" >
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class='far'>&#xf005;</i>
          <i class='far'>&#xf005;</i>
        </div>
        <span class="review">22 reviews</span><br>
        <small >&#8377;6.95-7.95Cr</small>

</div>
</div>



    <div class="feature">

       <h2>Ghost Specs, Features and Price</h2>

      <p>{{ghostImg.paragraph7}}</p>
    </div>
  <div class="key">
      <h2>Key Specifications of Rolls-Royce Ghost</h2>
    <div class="whole">
      <div class="left-content">
       <div class="keys">
          <div ><p>WLTP Mileage</p></div>
          <div ><span>6.33 kmpl</span></div>
       </div>
       <div class="underline1"></div>
      <div class="keys">
        <p>Engine Displacement</p>
        <span>6750</span>
      </div>
      <div class="underline2"></div>
      <div class="keys">
         <p>Max Power</p>
         <span>563bhp@5250</span>
      </div>
      <div class="underline3"></div>
      <div class="keys">
         <p>Seating Capacity</p>
         <span>5</span>
      </div>
      <div class="underline4"></div>
      <div class="keys">
         <p> Body Type</p>
         <span>Sedan</span>
      </div>
      <div class="underline5"></div>
    </div>



<div class="right-content">
      <div class="points">
        <div ><p>Fuel Type</p></div>
        <div ><span>6.33 kmpl</span></div>

     </div>
     <div class="underline1"></div>
    <div class="points">
      <p>No.of.cylinder</p>
      <span>6750</span>
    </div>
    <div class="underline2"></div>
    <div class="points">
       <p>Max Torque(nm@rpm)</p>
       <span>563bhp@5250</span>
    </div>
    <div class="underline3"></div>
    <div class="points">
       <p>Transmission Type</p>
       <span>5</span>
    </div>
    <div class="underline4"></div>
    </div>
  </div>








  <h2>Key Features of Rolls-Royce Ghost</h2>
  <div class="whole">
    <div class="left-content">
     <div class="keys">
        <div class="paragraph" id="paragraph"><p>Power Steering</p></div>
        <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
     </div>
     <div class="underline1"></div>
    <div class="keys">
      <p>Air Conditioner</p>
      <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline2"></div>
    <div class="keys">
       <p>Automatic Climate Control</p>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline3"></div>
    <div class="keys">
       <p>Alloy Wheels</p>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline4"></div>
    <div class="keys">
       <p>Engine Start Stop Button</p>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline5"></div>
  </div>



<div class="right-content">
    <div class="points">
      <p>Power Windows Front</p>
      <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>

   </div>
   <div class="underline1"></div>
  <div class="points">
    <p>Driver Airbag</p>
    <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
  </div>
  <div class="underline2"></div>
  <div class="points">
     <p>Fog Lights - Front</p>
     <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
  </div>
  <div class="underline3"></div>
  <div class="points">
     <p>Multi-function Steering Wheel</p>
     <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
  </div>
  <div class="underline4"></div>
  </div>
</div>
</div>



<div class="prices">
<h2>Key Features of Rolls-Royce Ghost</h2>
<div class="models">
<div class="model">
  <p>Base Model Ghost V12</p>
  <span>&#8377;6.95Cr*</span>
</div>
<div class="model">
  <p>Top Petrol Ghost V12 Extended</p>
  <span>&#8377;7.95Cr*</span>
</div>
<div class="model">
  <p>Top Automatic Ghost V12 Extended</p>
  <span>&#8377;7.95*</span>
</div>
</div>
</div>



<!-- <div class="row">
  <div class="columns">
    <div class="col-3">
      <div class="card">
        <div class="card-main">


       <div class="product-containers">
        <div class="m" (mouseover)="imageChange($event)"><img src="../../assets/g1-b.png" alt="product"></div>
        <div class="m" (mouseover)="imageChange($event)"><img src="../../assets/g2-b.png"  alt="product"></div>
        <div class="m" (mouseover)="imageChange($event)"><img src="../../assets/g3-b.png" alt="product"></div>
       </div>
       <div class="image-containers">
        <img src="{{url}}" alt="Product">
       </div>

         <div class="cart-line"></div>

        </div>
      </div>

    </div>
  </div>
</div> -->


<div class="all-image-container">
  <h3>Exterior images</h3>
<div class="all-images">
<div class="interior-images">
  <div class="item-1">
    <img [src]="ghostImg.exteriorImg1">
  </div>
  <div class="item-2">
    <img [src]="ghostImg.exteriorImg2">
  </div>
  <div class="item-3">
    <img [src]="ghostImg.exteriorImg3">
  </div>
  <div class="item-4">
    <img [src]="ghostImg.exteriorImg4">
  </div>
  <div class="item-5">
    <img [src]="ghostImg.exteriorImg5">
  </div>
  <div class="item-6">
    <img [src]="ghostImg.exteriorImg6">
  </div>
  <div class="item-7">
    <img [src]="ghostImg.exteriorImg7">
  </div>
  <div class="item-8">
    <img [src]="ghostImg.exteriorImg8">
  </div>
  <div class="item-9">
    <img [src]="ghostImg.exteriorImg9" >
  </div>
  <div class="item-10">
    <img [src]="ghostImg.exteriorImg10">
  </div>
  <div class="item-11">
    <img [src]="ghostImg.exteriorImg11">
  </div>
  <div class="item-12">
    <img [src]="ghostImg.exteriorImg12">
  </div>
</div>
</div>


<div class="eximg">
  <h3>Interior images</h3>

<div class="exterior-images">
  <div class="item-1">
    <img [src]="ghostImg.inteiorImg1">
  </div>
  <div class="item-2">
    <img [src]="ghostImg.inteiorImg2">
  </div>
  <div class="item-3">
    <img [src]="ghostImg.inteiorImg3">
  </div>
  <div class="item-4">
    <img [src]="ghostImg.inteiorImg4">
  </div>
  <div class="item-5">
    <img [src]="ghostImg.inteiorImg5">
  </div>
  <div class="item-6">
    <img [src]="ghostImg.inteiorImg6">
  </div>
  <div class="item-7">
    <img [src]="ghostImg.inteiorImg7">
  </div>
  <div class="item-8">
    <img [src]="ghostImg.inteiorImg8">
  </div>
  <div class="item-9">
    <img [src]="ghostImg.inteiorImg9">
  </div>

</div>
</div>

</div>




 <div class="row">
    <div class="columns">
      <div class="col-3"  >
<div class="entire" *ngFor="let product of carModel">
          <div class="card">
              <div class="card-main">
            <div class="discount" *ngIf="product.discountPrice">
              {{(((product.price-product.discountPrice)/product.price)*100).toFixed(0)}}%OFF</div>
            <div class="order order-color">
              <a  class="preorder" (click)="openDialog(product)">Order</a></div>
           <div class="image-container">
            <img [src]=product.imageUrl alt="Product">
           </div>

             <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

          <div class="card-content">
          <a href="">Rolls-Royce Ghost</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">{{product.discountPrice? product.discountPrice:product.price}}</span>
          <span class="price-old">{{product.discountPrice?product.price:product.discountPrice}}</span></p>

            </div>
           </div>
      </div>
    </div>

  </div>
      </div>





  </div>

</section>


<div class="headline" id="reviews">Rolls-Royce Reviews</div>
    <div class="car-container">
      <div class="box">

       <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
        </div>
        <span>Signal Of Upper-Crust Luxury</span><br>
       <p>{{ghostImg.paragraph4}}</p>
<h4 class="review2">By Leroy Chirappanath<br>
  <small>{{ghostImg.date1}}</small></h4>
      </div>

    <div class="box">

     <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class='far'>&#xf005;</i>
      </div>
      <span>THE BEAUTY AND BEAST IN SINGLE CAR</span><br>
     <p>{{ghostImg.paragraph5}}</p>
     <h4 class="review1">By Surya<br>
      <small>{{ghostImg.date2}}</small></h4>
  </div>

  <div class="box">

   <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <span>A RIDE IN THE GHOST</span><br>
   <p>{{ghostImg.paragraph6}}</p>
   <h4 class="review3">By Ratna Nath<br>
    <small>{{ghostImg.date3}}</small></h4>
</div>
    </div>






<div class="groups">
  <div class="containers">
    <div class="box-top">
        <img [src]="ghostImg.footerImg1">
    </div>
  <div class="box-bottom">
      <h1>GHOST</h1>
      <P>{{ghostImg.paragraph1}}
      </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img [src]="ghostImg.footerImg2" id="image">
  </div>
  <div class="box-bottom">
    <h1>THE NEW  GHOST EXTENDED</h1>
    <P>{{ghostImg.paragraph2}}
    </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img [src]="ghostImg.footerImg3">
  </div>
  <div class="box-bottom">
    <h1>DISCOVER BESPOKE</h1>
    <P>{{ghostImg.paragraph3}}
    </P>
  </div>
  </div>

  </div>
  <!-- <video controls Autoplay="autoplay" autoplay="true">
    <source src="https://youtu.be/nhCOTYi3rlQ" type="video/mp4" />
</video> -->
<app-footer></app-footer>
